site_name: Semester Portfolio
site_description: Min læringsportfolio for AI, ML og Software Arkitektur

docs_dir: docs
site_dir: site

theme:
  name: material
  features:
    - navigation.expand
    - navigation.sections
    - navigation.top
    - navigation.footer

nav: []  # din navigation kan du senere sætte tilbage som du vil

plugins:
  - roamlinks
